{% extends "base.html"%}

{% block head%}
{% endblock%}

{% block body%}
<h1>Scrapping TikTok</h1>

    <form class="row g-3" action="/" method="POST">
        <div class="col-md-4">
            <label for="profile" class="form-label">Url de Perfil: </label>
            <input type="text"class="form-control" id="profile" name="profile" value="">
        </div>
        <div class="col-12">
            <button type="submit" class="btn btn-primary col-sm-2">Scrapping</button>
        </div>
    </form>
{% endblock%}